In [25]:
##importing important 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

##### Merging 12 months data into single csv file

In [26]:
df = pd.read_csv("./monthly data/Sales_April_2019.csv")

files = [file for file in os.listdir('./monthly data')]

combined_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./monthly data/" + file)
    combined_data = pd.concat([combined_data, df])
    
combined_data.to_csv("D:\Projects\Pandas-Data-Science-Tasks-master\Pandas-Data-Science-Tasks-master\SalesAnalysis\combined_data.csv", index = False)

combined_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [27]:
combined_data.shape

(186850, 6)

In [28]:
data = pd.read_csv("D:\Projects\Pandas-Data-Science-Tasks-master\Pandas-Data-Science-Tasks-master\SalesAnalysis\combined_data.csv")
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

#### Data Cleaning

In [30]:
data =data.dropna().reset_index(drop = True)

In [31]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [32]:
data.rename(columns = {'Order ID': 'order_id', "Quantity Ordered": "qty_order",'Price Each':'price_each','Order Date':"order_date",'Purchase Address':"Purchase_address"}, inplace = True)

In [33]:
data.head(2)

,order_id,Product,qty_order,price_each,order_date,Purchase_address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"

In [ ]:
#### Changing Data Type

data['qty_order'] = pd.to_numeric(data['qty_order'], errors='coerce')
data['price_each'] = pd.to_numeric(data['price_each'], errors='coerce')
data['order_date'] = pd.to_datetime(data['order_date'], errors='coerce')

In [ ]:
data.info()

In [ ]:
# Dropping rows where order_date is  missing
data.dropna(subset=['order_date'], inplace=True)
data.shape

In [ ]:
data.info()

### Answering some probable business questions

#### 1. Which was the best month for sale. And How much money was earned that month?

In [24]:
### Creating Month Column
data['Month'] = data["order_date"].dt.
data.head(2)

,order_id,Product,qty_order,price_each,order_date,Purchase_address,Month
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4
1,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",4